<div class="d-flex justify-content-center align-items-center text-center" style="height: 100vh !important;">
  <div class="w-100" style="max-width: 330px">
	<h1 class="h3 mb-3">
		one time password
		<small>
			<%= current_user.username %>
		</small>
	</h1>
	<% if flash[:alert] %>
		<div class="alert alert-danger" role="alert">
			<%= flash[:alert] %>
		</div>
	<% end %>
	<form id="otp-form" method="post" class="mb-3">
		<div class="input-group">
			<input class="form-control" name="otp-code" placeholder="code">
			<div class="input-group-append">
				<span class="input-group-text" id="">
					<a type="submit" href="javascript:document.getElementById('otp-form').submit()">[unlock]</a>
				</span>
			</div>
		</div>
	</form>
	<%= link_to "[logout]", destroy_user_session_path_path, method: :delete %>
  </div>
</div>