a.out
.vscode

level0/level0
level1/level1
level2/level2
level3/level3
level4/level4
level5/level5
level6/level6
level7/level7
level8/level8
level9/level9
bonus0/bonus0
bonus1/bonus1
bonus2/bonus2
bonus3/bonus3
