<script type="text/template" id="template-channel-join">
	<h3>
		join?
		<small><%%e channel.name || channel.id %></small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-channel-leave">
	<h3>
		leave?
		<small><%%e channel.name || channel.id %></small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-channel-transfer-ownership">
	<h3>
		transfer ownership?
		<small><%%e channel.name || channel.id %></small>
		<br />
		to
		<small>
			<select id="user-select" class="form-control" style="display: unset !important; width: fit-content !important;">
				<option value="" selected disabled hidden>&lt;target&gt;</option>
				<%% _.each(channel.members, function(member) { %>
					<%% if (channel.owner.id != member.user.id) { %>
						<option value="<%%e member.user.id %>"><%%e member.user.username %></option>
					<%% } %>
				<%% }) %>
			</select>
		</small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-channel-delete">
	<h3>
		delete?
		<small><%%e channel.name || channel.id %></small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-channel-add">
	<h3>
		add?
		<small><%%e channel.name %></small>
		<br />
		target
		<small>
			<select id="username-select" class="form-control" style="display: unset !important; width: 300px !important;">
				<option selected disabled hidden value="">username</option>
			</select>
		</small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-channel-remove">
	<h3>
		remove?
		<small><%%e channel.name || channel.id %></small>
		<br />
		target
		<small>
			<a href="#user/<%%e user.id %>">
				<%%e user.user?.username || user.id %>
			</a>
		</small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-channel-clear">
	<h3>
		clear?
		<small><%%e channel.name || channel.id %></small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-channel-ban">
	<h3>
		ban?
		<small><%%e channel.name || channel.id %></small>
		<br />
		target
		<small><%%e user.user?.username || user.id %></small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-channel-unban">
	<h3>
		unban?
		<small><%%e channel.name || channel.id %></small>
		<br />
		target
		<small><%%e user.user?.username || user.id %></small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-channel-promote">
	<h3>
		promote?
		<small><%%e channel.name || channel.id %></small>
		<br />
		target
		<small><%%e user.user?.username || user.id %></small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-channel-demote">
	<h3>
		demote?
		<small><%%e channel.name || channel.id %></small>
		<br />
		target
		<small><%%e user.user?.username || user.id %></small>
	</h3>
	<div id="error-container"></div>
</script>

<!-- TODO -->

<script type="text/template" id="template-channel-mute">
	<h3>
		mute?
		<small><%%e id %></small>
		<br />
		target
		<small><%%e userId %></small>
		<br />
		duration
		<small>
			<select>
				<option value="0" selected>indefinitely</option>
				<option value="60">1 minute</option>
				<option value="300">5 minutes</option>
				<option value="600">10 minutes</option>
				<option value="3600">1 hour</option>
				<option value="21600">6 hours</option>
				<option value="86400">1 day</option>
				<option value="259200">3 days</option>
			</select>
		</small>
	</h3>
	<div class="dropdown-divider"></div>
	<div class="container text-center">
		<a href="javascript:void(0)">[yes]</a>
		<a href="javascript:history.length ? history.back() : window.location.hash = '#channel/<%%e id %>'">[no]</a>
	</div>
</script>

<script type="text/template" id="template-channel-unmute">
	<h3>
		unmute?
		<small><%%e id %></small>
		<br />
		target
		<small><%%e userId %></small>
	</h3>
	<div class="dropdown-divider"></div>
	<div class="container text-center">
		<a href="javascript:void(0)">[yes]</a>
		<a href="javascript:history.length ? history.back() : window.location.hash = '#channel/<%%e id %>'">[no]</a>
	</div>
</script>