<script type="text/template" id="template-friendship-add">
	<h3>
		request friendship?
		<small>
      <a href="#user/<%%e user.id %>">
        <%%e user.username || user.id %>
			</a>
    </small>
	</h3>
	<div id="error-container"></div>
</script>

<script type="text/template" id="template-friendship-accept">
	<h3>
		accept friendship?
		<small>
      <a href="#user/<%%e user.id %>">
        <%%e user.username || user.id %>
			</a>
    </small>
	</h3>
	<div id="error-container"></div>
</script>