<script type="text/template" id="template-friendship-list">
	<div>
		<a href="javascript:void(0)" class="refresh-button">[refresh]</a>
	</div>
	<div class="dropdown-divider"></div>
	<%% if (state.loading) { %>
		<div class="d-flex justify-content-center">
			<div class="spinner-border" role="status"></div>
		</div>
	<%% } else if (state.error) { %>
		<div class="alert alert-danger" role="alert">
			<%%e state.error.responseJSON?.message || "failed to fetch the friendships" %>
		</div>
	<%% } else { %>
		<%% if (Object.keys(friendships).length) { %>
			<div class="friendship-list list-group"></div>
		<%% } else { %>
			<div class="alert alert-secondary" role="alert">
				no friendship
			</div>
		<%% } %>
	<%% } %>
</script>

<script type="text/template" id="template-friendship-pending">
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <a href="/#user/<%%e friendship.user.id %>" ><%%e friendship.user.username %></a>
      </h5>
      <a href="#friendship/accept/<%%e friendship.user.id %>">[accept]</a>
      <a href="#friendship/refuse/<%%e friendship.user.id %>">[refuse]</a>
    </div>
  </div>
</script>

<script type="text/template" id="template-friendship-request">
  <div href="/#user/<%%e friendship.friend.id %>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <a href="/#user/<%%e friendship.friend.id %>" ><%%e friendship.friend.username %></a>
      </h5>
      <a href="#friendship/cancel/<%%e friendship.friend.id %>">[cancel]</a>
    </div>
  </div>
</script>

<script type="text/template" id="template-friendship-friend">
  <div href="/#user/<%%e friendship.friend.id %>" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <a href="/#user/<%%e friendship.friend.id %>" ><%%e friendship.friend.username %></a>
      </h5>
      <a href="#friendship/delete/<%%e friendship.friend.id %>">[delete]</a>
    </div>
  </div>
</script>

<script type="text/template" id="template-friendship-lists">
	<div>
		<a href="javascript:void(0)" class="refresh-all-button">[refresh]</a>
	</div>
	<div class="dropdown-divider"></div>
	<div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>
          friends
        </h3>
        <div id="container-friends"></div>
      </div>
      <div class="col-sm">
        <h3>
          pending
        </h3>
        <div id="container-pending"></div>
      </div>
      <div class="col-sm">
        <h3>
          requested
        </h3>
        <div id="container-requested"></div>
      </div>
    </div>
  </div>
</script>