<script type="text/template" id="template-generic-action">
	<%% if (state.loading) { %>
		loading...
	<%% } else if (state.error) { %>
		<div class="alert alert-danger" role="alert">
			<%%e state.error.responseJSON?.message || state.error.status || state.error %>
		</div>
		<div class="container text-center">
			<a href="javascript:void(0)" id="back-button">[back]</a>
		</div>
	<%% } else { %>
		<div id="impl-container"></div>
		<div class="dropdown-divider"></div>
		<div class="container text-center">
			<a href="javascript:void(0)" id="yes-button">[yes]</a>
			<a href="javascript:void(0)" id="back-button">[back]</a>
		</div>
	<%% } %>
</script>

<script type="text/template" id="template-generic-action-error">
	<%% if (loading) { %>
		<div class="text-center">
			<div class="spinner-border" role="status"></div>
		</div>
	<%% } else if (error) { %>
		<div class="alert alert-danger" role="alert">
			error: <%%e error.responseJSON?.message || error.status || state.error %>
		</div>
	<%% } %>
</script>