<script type="text/template" id="template-navigation-bar-items">
	<%% _.each(links, function(link) { %>
		<li class="nav-item <%%= active == link.route ? 'active' : '' %>">
			<a class="nav-link" href="#<%%= link.route %>">
				<%%= link.name %>
			</a>
		</li>
	<%% }); %>
</script>