<script type="text/template" id="template-user-profile">
	<!-- hippity hoppity your code is now my property -->
	<!-- https://www.bootdey.com/snippets/view/profile-with-data-and-skills -->

	<%% if (loading) { %>
		<div class="text-center">
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	<%% } else if (error) { %>
		error: <%%e error %>
	<%% } else { %>
		<div class="container">
			<div class="main-body">
				<div class="row gutters-sm">
					<div class="col-md-4 mb-3">
						<div class="card">
							<div class="card-body">
								<div class="d-flex flex-column align-items-center text-center">
									<%% if (isSelf) { %>
										<a href="#profile/edit">
											<img src="<%%e user.picture %>" alt="<%%e user.username %>" class="rounded-circle" width="150">
										</a>
									<%% } else { %>
										<img src="<%%e user.picture %>" alt="<%%e user.username %>" class="rounded-circle" width="150">
									<%% } %>
									<div class="mt-3">
										<h4>
											<%%e user.username %>
											<%% if (isSelf) { %>
												<a href="#profile/edit">
													<small>
														edit
													</small>
												</a>
											<%% } %>
										</h4>
										<p class="text-secondary mb-4">
											joined <br />
											<%%e user.created_at %>
										</p>
									  <%% if (!isSelf) { %>
                      <a href="#friendship/add/<%%e user.id %>" class="btn btn-primary">
                        request friendship
                      </a>
                      <button class="btn btn-outline-primary">Message</button>
                    <%% } %>
									</div>
								</div>
							</div>
						</div>
						<div class="card mt-3">
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">
										<i class="mdi mdi-crown" aria-hidden="true"></i>
										<%%e user.statistics.win_count %>
									</h6>
									<span class="text-secondary">win</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
									<h6 class="mb-0">
										<i class="mdi mdi-skull-crossbones" aria-hidden="true"></i>
										<%%e user.statistics.loss_count %>
									</h6>
									<span class="text-secondary">loss</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card mb-3">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Full Name</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										Kenneth Valdez
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Email</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										fip@jukmuh.al
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Phone</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										(239) 816-9029
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Mobile</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										(320) 380-4539
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Address</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										Bay Area, San Francisco, CA
									</div>
								</div>
							</div>
						</div>
						<div class="row gutters-sm">
							<div class="col-sm-6 mb-3">
								<div class="card h-100">
									<div class="card-body">
										<h6 class="d-flex align-items-center mb-3">
											<i class="mdi mdi-trophy text-info mr-2" aria-hidden="true"></i>
											Achievements
										</h6>
										<%% _.each(user.achievement_progresses, function(progress) { %>
											<small  data-toggle="tooltip" data-placement="top" title="<%%e progress.achievement.description %>">
												<%%e progress.achievement.name %>
											</small>
											<div class="progress mb-3" style="height: 15px">
												<div class="progress-bar bg-primary" role="progressbar" style="height: 15px; width: <%%e (progress.value / progress.achievement.max) * 100 %>%; <%%e progress.unlocked ? 'background-color: green !important' : '' %>">
													<%% if (progress.unlocked) { %>
														unlocked at <%%e progress.unlocked_at %>
													<%% } else { %>
														<%% if (progress.achievement.percent) { %>
															<%%e (progress.value / progress.achievement.max) * 100 %> %
														<%% } else { %>
															<%%e progress.value %> / <%%e progress.achievement.max %>
														<%% } %>
													<%% } %>
												</div>
											</div>
										<%% }) %>
									</div>
								</div>
							</div>
							<div class="col-sm-6 mb-3">
								<div class="card h-100">
									<div class="card-body">
										<h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
										<small>Web Design</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<small>Website Markup</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<small>One Page</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<small>Mobile Template</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<small>Backend API</small>
										<div class="progress mb-3" style="height: 5px">
											<div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<%% } %>
</script>

<script type="text/template" id="template-user-profile-edit">
	<%% if (state.loading) { %>
		<div class="d-flex justify-content-center">
			<div class="spinner-border" role="status"></div>
		</div>
	<%% } else if (state.error) { %>
		<div class="alert alert-danger" role="alert">
			<%%e state.error.responseJSON?.message || "failed to fetch user settings" %>
		</div>
	<%% } else { %>
		<div class="container">
			<h3>edit profile</h3>
			<div class="dropdown-divider"></div>
			<div>
				<a href="javascript:void(0)" id="refresh-button">[refresh]</a>
			</div>
			<div class="dropdown-divider"></div>
			<%% if (state.error2) { %>
				<div class="alert alert-danger" role="alert">
					<%%e state.error2.responseJSON?.message || "failed to update user settings" %>
				</div>
			<%% } %>
			<div class="row gutters-sm">
				<div class="col-md-8 mb-3">
					<div class="form-group has-validation">
						<label for="username-input">username</label>
						<input id="username-input" class="form-control" placeholder="batman">
						<div id="username-invalid" class="invalid-feedback"></div>
					</div>
					<div class="form-group">
						<div class="input-group mb-3">
							<div class="form-control">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="two-factor-enabled-checkbox">
									<label class="form-check-label" for="two-factor-enabled-checkbox">enable 2-factor</label>
								</div>
							</div>
							<div class="input-group-append">
								<span class="input-group-text">
									<a id="qrcode-button" href="javascript:void(0)">[qrcode]</a>
								</span>
							</div>
						</div>
					</div>
					<a id="submit-button" href="javascript:void(0)">[submit]</a>
				</div>
				<div class="col-md-4 mb-3">
					<div class="d-flex flex-column align-items-center text-center">
						avatar
						<div class="text-center p-3">
							<img id="preview-image" class="img-fluid rounded-circle" style="width: 150px; height: 150px;" />
						</div>
						<div class="input-group mb-3">
							<div class="custom-file">
								<label class="custom-file-label" for="file-input">choose image</label>
								<input type="file" class="custom-file-input" id="file-input">
							</div>
							<div class="input-group-append">
								<span class="input-group-text">
									<a id="upload-button" href="javascript:void(0)">[upload]</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- animated modal slowness was causing problem with instant view closing  -->
		<div class="modal" id="otp-qrcode-modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div id="qrcode" class="text-center"></div>
					</div>
					<div class="modal-footer text-center" style="display: unset;">
						<a href="javascript:void(0)"  data-dismiss="modal">[close]</a>
					</div>
				</div>
			</div>
		</div>
	<%% } %>
</script>